<div class="row">
  <div class="col-4 d-flex align-items-center">
    <img class="user" src="../../assets/download.jpeg" height="50" width="50">
    <label class="d-flex justify-content-center align-items-center">
      <span class="fa fa-search"></span>
      <input type="text" placeholder="type here to search" class="form-control">
    </label>
  </div>
  <div class="col-4 upgrade d-flex justify-content-center align-items-center">
    <span class="fa fa-arrow-up"></span>
    <label>
      Upgrade to
      <span class="pro">Pro</span>
    </label>
  </div>
  <div class="col-4 profile">
    <span class="fa fa-bell"></span><span class="fa fa-circle-o-notch"></span>
  </div>
</div>
